body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

  background-color: #fb565a;
  border: none;
  box-shadow:
    0 0 4px 1px rgba(255, 255, 255, 0.3),
    inset 0 0 4px 1px rgba(255, 255, 255, 0.3);
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
}

.page-header {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;

  background-color: #eeeeee;
}

.main-menu-list {
  list-style: none;
}

.shop-cart {
  margin-bottom: 0;
}

.main-menu a,
.shop-cart a {
  color: #000000;

  background-color: #eeeeee;
}

.main-menu a:hover,
.main-menu a:focus,
.shop-cart a:hover,
.shop-cart a:focus {
  color: #fb565a;
}

.main-menu a:active,
.shop-cart a:active {
  color: #000000;

  opacity: 0.3;
}

.main-slider {
  color: #283136;

  background-color: #eeeeee;
}

.main-slider-list {
  margin-top: 0;
  list-style: none;
}

.main-slider-item {
  /* высота выставлена временно, чтобы фон был виден целиком */
  min-height: 430px;
}

.main-slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-position: top 0 right 0;
  background-repeat: no-repeat;
}

.main-slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-position: top 0 right 0;
  background-repeat: no-repeat;
}

.main-slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-position: top 0 right 0;
  background-repeat: no-repeat;
}

.main-slider-item b {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.inner-page h1 {
  margin-top: 0;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;

  background-color: #eeeeee;
}

.services-list {
  list-style: none;
}

/* параметры отступа заданы временно, чтобы был виден фон */
.services-item {
  padding-top: 146px;
}

.services-item:nth-child(1) {
  background-image: url("../img/index-illustration-1-300x146.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services-item:nth-child(2) {
  background-image: url("../img/index-illustration-2-300x146.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services-item:nth-child(3) {
  background-image: url("../img/index-illustration-3-300x146.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.about-us-header {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;

  background-color: #ffffff;
}

.about-us b {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.about-us-list {
  list-style: none;
}

.concept-table {
  border: none;
}

.concept-table td,
.concept-table th {
  border: none;
}

.concept-table th {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.concept-table td {
  font-size: 45px;
  font-weight: 700;
  color: #000000;
}

.concept-table sup {
  font-size: 22px;
  font-weight: 400;
}

.partners-list {
  list-style: none;
}

.partners-item a img {
  opacity: 0.2;
}

.partners-item a:hover img,
.partners-item a:focus img {
  opacity: 1;
}

.partners-item a:active img {
  opacity: 0.1;
}

.social-list {
  list-style: none;
}

.social-item a {
  display: inline-block;
  width: 80px;
  height: 80px;

  line-height: 87px;
  text-align: center;

  background-color: #e1e1e1;

  border-radius: 50%;
}

.social-item a:hover,
.social-item a:focus {
  background-color: #e74246;
}

.social-item a:active {
  background-color: #d7373b;

  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.social-item a:active img {
  opacity: 0.3;
}

.social-slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.modal {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.7);
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal label {
  font-weight: 700;
}

input[type="text"],
input[type="email"],
textarea {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: #444444;

  background-color: transparent;
  border: 2px solid #d7dcde;
  outline: none;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  border-color: #b4b9bb;
}

.modal input[type="text"]:valid:focus,
.modal input[type="email"]:valid:focus,
.modal textarea:focus {
  color: #444444;

  border-color: #000000;
}

input[type="text"]:invalid,
input[type="email"]:invalid,
textarea:invalid,
input[type="text"]:invalid:hover,
input[type="email"]:invalid:hover,
textarea:invalid:hover {
  color: #e74246;

  border-color: #e74246;
}

.product-filter-header {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.product-filter-list {
  list-style: none;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-filter-item a {
  color: #000000;

  opacity: 0.3;
}

.product-filter-item a:hover,
.product-filter-item a:focus {
  opacity: 0.6;
}

.product-filter-item a:active,
.product-filter-item-current a,
.product-filter-item-current a:hover,
.product-filter-item-current a:focus {
  opacity: 1;
}

.triangle {
  display: inline-block;
  position: relative;
  width: 13px;
  height: 10px;

  overflow: hidden;
}

.triangle::before {
  content: "";
  position: absolute;

  border-style: solid;
  border-width: 10px 6px;
  border-color: #000000 transparent;
}

.filter-decreasing .triangle::before {
  top: 0;
  left: 0;
}

.filter-increasing .triangle::before {
  top: -10px;
}

.filter-order .triangle {
  opacity: 0.3;
}

.filter-order:hover .triangle,
.filter-order:focus .triangle {
  opacity: 0.6;
}

.filter-order:active .triangle,
.filter-order-current .triangle,
.filter-order-current:hover .triangle,
.filter-order-current:focus .triangle {
  opacity: 1;
}

.product-filter-group {
  border: none;
}

.product-filter-form {
  color: #000000;
  line-height: 20px;

  background-color: #ffffff;
}

.product-filter-form .product-filter-header {
  line-height: 30px;
}

.range-wrapper {
  background-color: #eeeeee;
}

.price-output output {
  font-size: inherit;
  line-height: 22px;

  background-color: #eeeeee;
  border: none;
}

.product-filter-form label,
.product-filter-form input:checked label {
  opacity: 0.6;
}


.product-filter-form input:hover + label,
.product-filter-form input:focus + label {
  opacity: 1;
}

.product-filter-form input:disabled + label {
  opacity: 0.3;
}

.filter-button {
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
  outline: none;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

.variety-list {
  list-style: none;
}

.variety-item-wrapper {
  width: 360px;
  height: 40px;

  background-color: #e9e9e9;
  background-image: url("../img/browser-360x40.png");
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.1;
}

.variety-item {
  width: 360px;
  height: 616px;
  margin-bottom: 40px; /* это значение в дальнейшем изменится */

  overflow: hidden;
}

.variety-item:hover {
  box-shadow:
    inset 0 0 0 1px #4d4d4d,
    0 6px 15px 0 rgba(0, 0, 0, 0.25);
}

.variety-item:hover .variety-item-wrapper {
  opacity: 1;
}


.variety-item-img {
  margin-top: 0;
}

.variety-item-card {
  position: relative;
  bottom: 127px;  /* это значение будет меняться потом */
  left: 0;

  display: none;

  /* значения ширины и отступов будут меняться */

  width: 360px;

  line-height: 18px;
  color: #666666;
  text-align: center;

  background-color: #eeeeee;
}

.variety-item:hover .variety-item-card {
  display: block;
}

.variety-item-header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.variety-item-header a {
  color: #000000;

  background-color: #eeeeee;
}

.variety-item-header a:hover,
.variety-item-header a:focus {
  color: #fb565a;
}

.variety-item-header a:active {
  color: #000000;

  opacity: 0.3;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  line-height: 18px;
  font-weight: 500;
  color: #000000;

  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.pagination-current a,
.pagination-current a:hover,
.pagination-current a:focus,
.pagination-current a:active {
  color: #000000;

  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #dbdbdb;
}

.modal-close {
  width: 21px;
  height: 21px;

  background-color: transparent;
  background-image: url("../img/close-cross.svg");
  background-position: center center;
  background-repeat: no-repeat;

  border: none;

  opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
