body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

  background-color: #fb565a;
  box-shadow:
    0 0 4px 1px rgba(255, 255, 255, 0.3),
    inset 0 0 4px 1px rgba(255, 255, 255, 0.3);
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow:
    inset 0 3px 1px 0 rgba(0, 1, 1, 0.1);
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
}

.page-header {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;

  background-color: #eeeeee;
}

.main-menu-list {
  list-style: none;
}

.main-menu a,
.shop-cart a {
  color: #000000;

  background-color: #eeeeee;
}

.main-menu a:hover,
.main-menu a:focus,
.shop-cart a:hover,
.shop-cart a:focus {
  color: #fb565a;
}

.main-menu a:active,
.shop-cart a:active {
  color: #000000;

  opacity: 0.3;
}

.main-slider {
  color: #283136;

  background-color: #eeeeee;
}

.main-slider-list {
  list-style: none;
}

.main-slider-item {
  /* высота выставлена временно, чтобы фон был виден целиком */
  min-height: 430px;
}

.main-slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-position: top 0 right 0;
  background-repeat: no-repeat;
}

.main-slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-position: top 0 right 0;
  background-repeat: no-repeat;
}

.main-slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-position: top 0 right 0;
  background-repeat: no-repeat;
}

.main-slider-item b {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.services-list {
  list-style: none;
}

/* параметры отступа заданы временно, чтобы был виден фон */
.services-item {
  padding-top: 146px;
}

.services-item:nth-child(1) {
  background-image: url("../img/index-illustration-1-300x146.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services-item:nth-child(2) {
  background-image: url("../img/index-illustration-2-300x146.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services-item:nth-child(3) {
  background-image: url("../img/index-illustration-3-300x146.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.about-us-header {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;

  background-color: #ffffff;
}

.about-us b {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.about-us-list {
  list-style: none;
}

.concept-table {
  border: none;
}

.concept-table td,
.concept-table th {
  border: none;
}

.concept-table th {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.concept-table td {
  font-size: 45px;
  font-weight: 700;
  color: #000000;
}

.concept-table sup {
  font-size: 22px;
  font-weight: 400;
}
